p {
  font-size: 200%;
  padding: 20px;
  text-align: center;
}

p.one {
  background-color: #EEEEEE;
  color: #666666;
  text-shadow: 1px 1px 0px #000000;
}

p.two {
  background-color: #DDDDDD;
  color: #666666;
  text-shadow: 1px 1px 3px #666666;
}

p.three {
  background-color: #CCCCCC;
  color: #FFFFFF;
  text-shadow: 2px 2px 7px #111111;
}

p.four {
  background-color: #BBBBBB;
  color: #CCCCCC;
  text-shadow: -1px -2px #666666;
}

p.five {
  background-color: #AAAAAA;
  color: #FFFFFF;
  text-shadow: -1px -1px #666666;
}